RewriteEngine On
RewriteBase /

# Chuyển hướng URL từ /file-info/<id> thành index.php?id=<id>
RewriteRule ^file-info/([0-9]+)$ file-info/index.php?id=$1 [L,QSA]

# Nếu URL không khớp với các quy tắc trên, chuyển hướng về trang 404.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ 404.php [L]