RewriteEngine On
RewriteBase /

# Luôn chuyển hướng dùng HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Chuyển hướng URL từ /file-info/<id> thành index.php?id=<id>
RewriteRule ^file-info/([0-9]+)$ file-info/index.php?id=$1 [L,QSA]

# Chuyển hướng URL từ /blog/<id> thành blog/detail.php?id=<id>
RewriteRule ^blog/([0-9]+)$ blog/detail.php?id=$1 [L,QSA]

# Chuyển hướng URL từ /user/<id> thành user/index.php?id=<id>
RewriteRule ^user/([0-9]+)$ user/index.php?id=$1 [L,QSA]

# Nếu URL không khớp với các quy tắc trên và không phải là file hoặc thư mục có thật, chuyển hướng về trang 404.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ 404.php [L]

# Nếu URL bắt đầu với /config, chuyển hướng về trang chủ
RewriteCond %{REQUEST_URI} ^/config
RewriteRule ^.*$ / [R=301,L]

# Nếu URL bắt đầu với /functions, chuyển hướng về trang chủ
RewriteCond %{REQUEST_URI} ^/function
RewriteRule ^.*$ / [R=301,L]
